{% extends 'index.html' %} {% block encabezado %} {%include 'encabezado.html'%}
<p class="text-center  mt-5 text-success mb-5 fs-4">{{mensaje}}</p>
<p class="text-center  mt-5 text-success mb-4">{{mensaje2}}</p>
{% endblock %} {% block contenido %}
<div >
  <a href="/vistaAgregarProducto">
    <button class="btn btn-success me-4 text-center mb-3">Agregar</button>
  </a>
  <a href="/">
    <button class="btn btn-danger text-center mb-3">Cerrar sesión</button>
  </a>
</div>

<!-- configuracion del dataTabla -->
<script>
  $(document).ready( function () {
      $('#idTabla').DataTable(
        {
          language: {
            url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
          },
        }
      );
  } );
</script>

<div>
  <table id="idTabla" class="table table-bordered w-75 text-center ms:mt-[7vh]">
    <thead>
      <tr class="bg-primary">
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Foto</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody id="listarProductos">
      {% for p in Productos %}
      <tr>
        <td>{{p["codigo"]}}</td>
        <td>{{p["nombre"]}}</td>
        <td>{{p["precio"]}}</td>
        <!-- {%for c in listCategorias%}

          {%if c['_id']== p["categoria"]%}
            <td>{{c["nombre"]}}</td>
          {%endif%}

        {%endfor%} -->
        <td>{{p["categoria"]}}</td>
        <td>
          <img
            src="../static/imagenes/{{p['_id']}}.jpg"
            alt=""
            width="100"
            height="100"
          />
        </td>
        <td>
          <a href="/consultar/{{p['codigo']}}" ><i class="fa fa-edit text-warning" title="editar" ></i></a>
          <a href="/eliminar/{{p['codigo']}}" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?')">
            <i class="fa fa-trash text-danger" title="eliminar"></i>
          </a>
           
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %} {% block piePagina %} {%include 'piePagina.html'%} {% endblock %}
